doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ../style.css
        title Mijn klas in kleur!
    body 
        main 
            section 
                h1 Mijn klas in kleur!
                p(id="introText") Op 25 oktober 2021 ben ik samen met mijn klas begonnen aan de 
                    span Tech Track
                    |, het technische onderdeel van het themasemester Information Design. Op de eerste dag werd er aan ons gevraagd om een enquête in te vullen. Uit deze enquête heb ik de volgende vraag gevisualiseerd. 
                ul(id="questions")
                    li Welke kleur kledingstukken heb je aan vandaag?
            section 
                h2 Welke kleuren kleding werden er in mijn klas gedragen op 25 oktober 2021?
                p(class="sectionHeader") Elk vierkantje representeert in deze visualisatie één klasgenoot.
                ul(id="clothingColors")
                    each gradient in colorGradients  
                        li(style=`background: ${gradient}`)
            section 
                h2(id="thirdHeader") Welke kleuren werden er het meest gedragen? 
                p(class="sectionHeader", id="classmateHeader") De distributie van de kleuren wordt hier met vakjes weergegeven. Elk vakje representeert hier één gekozen kleur. 
                ul(id="distributionList") 
                    each color in sortedClothingHexColors
                        li(style=`background: ${color};`)
                p(class="sectionHeader", id="percentagesText") En nu in percentages.
                ul(id="percentagesList")    
                    each val, key in sortedColorPercentages 
                        if key=="Zwart" || key=="Blauw" || key=="Paars"
                            li(style=`background: ${getHexColor(key)};`)
                                p(style=`color: white;`)=`${val}%`
                        else 
                            li(style=`background: ${getHexColor(key)}`)
                                p=`${val}%`
                p(id="endingText") Deze website is volledig geproduceerd in het tijdsspanne van één week door 
                    a(href="https://steinbergervoet.nl", target="_blank") Stein Bergervoet
                    |. De code van deze website is te vinden op 
                    a(href="https://github.com/Steinberg99/functional-programming/", target="_blank") GitHub
                    |.
            footer  
                nav 
                    a(href="") Portfolio
                    a(href="") GitHub
                    a(href="") LinkedIn 