doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ../styles/styles.css
        title Mijn klas in kleur!
    body 
        main 
            section(id="sectionOne")
                h1 Mijn klas in kleur!
                p Op 25 oktober 2021 ben ik samen met mijn klas begonnen aan de 
                    span Tech Track
                    |, het technische onderdeel van het themasemester Information Design. Op de eerste dag werd er aan ons gevraagd om een enquête in te vullen. Uit deze enquête heb ik de volgende vraag gevisualiseerd. 
                ul
                    li Welke kleur kledingstukken heb je aan vandaag?
            section(id="sectionTwo")
                h2 Welke kleuren kleding werden er in mijn klas gedragen op 25 oktober 2021?
                p Elk vierkantje representeert in deze visualisatie één klasgenoot.
                ul
                    each gradient in gradients  
                        li(style=`background: ${gradient}`)
            section(id="sectionThree")
                h2 Welke kleuren werden er het meest gedragen? 
                p De distributie van de kleuren wordt hier met vakjes weergegeven. Elk vakje representeert hier één gekozen kleur. 
                ul
                    each color in sortedHexColors
                        li(style=`background: ${color};`)
                p En nu in percentages.
                ul
                    each val, key in sortedColorPercentages 
                        if key=="Zwart" || key=="Blauw" || key=="Paars"
                            li(style=`background: ${hexColor(key)};`)
                                p(style=`color: white;`)=`${val}%`
                        else 
                            li(style=`background: ${hexColor(key)}`)
                                p=`${val}%`
                footer
                    p Deze website is volledig geproduceerd in het tijdsspanne van één week door 
                        a(href="https://steinbergervoet.nl", target="_blank") Stein Bergervoet
                        |. De code van deze website is te vinden op 
                        a(href="https://github.com/Steinberg99/functional-programming/", target="_blank") GitHub
                        |.